nav{
    width: 100%;
    height: 80px;
    margin: 15px;
    background-color: rgb(152, 152, 235);
}
.menu{
    width: 100%;
    height: 200px;
    margin: 10px;
    background-color: rgb(39, 212, 33);

    margin-top: 10px;
}
.infs{
    width: 100%;
    height: 350px;
    background-color: rgb(233, 138, 22);
    margin-top: 10px;
}
.inf1{
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 400px;
    margin-top: 10px;
}



.inf1 .contenido{
    width: 100%;

    background-color: rgb(29, 201, 92);
}



.inf1 .parrafo{
   margin-left: 5px;
}

.inf1 .parrafo1{
    width: 900px;
    height: 100px;
    
    background-color: rgb(11, 90, 0);
}

.inf1 .parrafo2{
    width: 900px;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(98, 201, 39);
}

.inf1 .parrafo3{
    width: 900px;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(148, 205, 115);
}

.inf2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    margin-top: 10px;
}

.inf2 .descripcion{
    margin: 25px;
    width: 700px;
    background-color: rgb(162, 154, 154);
}


.inf2 .contexto{
    display: grid;
    grid-template-rows: 50%;
    margin: 5px;
}

.inf2 .contexto1{
    margin: 20px;
    background-color: rgb(147, 28, 28);
}

.inf2 .contexto2{
    margin-top: 10px;
    margin: 20px;
    background-color: rgb(165, 38, 182);
}

.cuadros{
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}


.cuadros .cuadro{
    background-color: rgb(78, 31, 31);
    margin: 15px;
}


footer{
    background-color: rgb(208, 30, 30);
    width: 100%;
    height: 200px;
}